:root {
    --maincolor: #363636;
    --seccolor: #dd7831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--maincolor);
}

.mIcon {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 70px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 999;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    border-radius: 100px;
    transition: .5s;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
    background: #00000000;
}

.mIcon:hover {
    width: 255px;
    background: linear-gradient(to right, #f731cc, rgb(110, 255, 38));
}

.icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.sidelinkscon {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0.699);
}

.mainsidelinks {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 9px 1.5px;
}

.xmark {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}

.fa-xmark {
    color: white;
    font-size: 9vw;
}

.sidelinks {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    font-size: 6vw;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.sidelinks:hover {
    background-color: rgba(99, 99, 99, 0.194);
    border-radius: 5px;
}

.uselinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.ulinks {
    font-size: 8vw;
    color: rgb(196, 196, 196);
}

.navcon {
    width: 100%;
    height: 70px;
    padding: 1vw 2.4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px black;
}

.menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(25, 25, 25, 0.589);
    display: flex;
    justify-content: center;
    display: none;
    align-items: center;
}

.ri-menu-2-line {
    color: white;
    font-size: 35px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.linkscon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 600;
    transition: 250ms ease-in-out;
}

.links:hover {
    color: var(--seccolor);
}

.links::after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--seccolor);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.links:hover:after {
    transform: scaleX(1);
}

@media (max-width:500px) {
    .navcon {
        justify-content: space-between;
        background-color: #363636a2;
        backdrop-filter: blur(2px);
        top: 0;
        position: fixed;
        z-index: 99;
    }

    .menu {
        display: flex;

    }

    .linkscon {
        display: none;
    }

    .sidelinkscon {
        top: 0;
    }
}


/* Header Section Complete */


.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    padding-bottom: 55px;
    border-bottom: 2px solid var(--seccolor);
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.context {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.text1 {
    font-size: 45px;
    font-weight: 700;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
}

.text1:hover {
    color: #dd7831;
    text-shadow: 0px 0px 20px var(--seccolor);
    transition: 1s;
}

.text2 {
    text-align: center;
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 400px;
    height: 350px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px solid var(--seccolor);
}

.left1 {
    width: 50%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lapdiv {
    position: relative;
}

.lap {
    width: 550px;
    height: 400px;
    position: relative;
}

.viddiv {
    position: absolute;
    top: 52px;
    left: 133px;
    right: 0;
}

.vid {
    width: 290px;
    height: 177px;
}

.right1 {
    width: 50%;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:850px) {
    .container1 {
        gap: 40px;
    }

    .img1 {
        width: 90%;
        height: 90%;
    }

    .lap {
        width: 400px;
        height: 350px;
        position: relative;
    }

    .viddiv {
        position: absolute;
        top: 39px;
        left: 96px;
        right: 0;
    }

    .vid {
        width: 213px;
        height: 165px;
    }
}

@media (max-width:500px) {
    .container1 {
        flex-direction: column;
        margin-top: 120px;
        gap: 10vw;
        padding: 0;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .img1 {
        width: 100%;
        height: 100%;
    }

    .container2 {
        flex-direction: column-reverse;
        padding: 0;
    }

    .lap {
        width: 350px;
        height: 300px;
        position: relative;
    }

    .viddiv {
        position: absolute;
        top: 39px;
        left: 85px;
        right: 0;
    }

    .vid {
        width: 185px;
        height: 132px;
    }
}


/* Main Section Complete */


.mainfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
}

.container3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fcons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.img3 {
    width: 90px;
    height: 70px;
    border-radius: 50%;
}

.text3 {
    text-align: center;
    color: rgb(196, 196, 196);
    font-size: 17px;
    text-decoration: none;
}

.text4 {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .7s;
}

.text4:hover {
    color: var(--seccolor);
}

.text4::after {
    content: '';
    display: block;
    border-bottom: 3px solid var(--seccolor);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.text4:hover:after {
    transform: scaleX(1);
}

.container4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 14px;
    padding-top: 17px;
    border-top: 1px solid white;
}

.text5 {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.mylogo {
    color: white;
    width: 250px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(to right, #f731cc, rgb(110, 255, 38));
}

@media (max-width:850px) {

    .mylogo {
        display: flex;
    }

    .mIcon {
        display: flex;
    }

    .mIcon:hover {
        background: #00000000;
        width: 70px;
    }

    .container3 {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(2, 200px);
    }

    .container4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        border: none;
        padding: 0;
    }
}

@media (max-width:500px) {
    .mIcon {
        display: none;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .container4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
}


/* Footer Section Complete */